.cityname {
    padding-left: 250px;
    font-size: 300%;

}
.entercity{
    padding-top: 10px;
    align: "center";
    padding-bottom: 50px;
    padding-left: 250px;
    font-size: 500%;
}

.buttoncss{
    padding-top: 80px;
    align: "center";
    padding-bottom: 50px;
    padding-left: 250px;
    width: 130%;
}

.inpclass {
    padding-left: 20px;
}

#button_css{

    font-size: 230%;
}

#cityConsole{
    float: right;
    padding-right: 230px;
    font-size: 150%;
    text-shadow: 5px 5px 5px grey;
}

